:root,body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.7em;
}
.nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.1em;
  font-size: 0.8em;
}
a.active{
  opacity: 0.7;
}
.register-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.register{
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 30em; 
  padding: 1em;
}
.register h2 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #182848;
}
.register p {
  text-align: center;
  margin-bottom: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  color: #555;
  opacity: 0.9;
}
.register-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}
.input-field{
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 0 1em;
}
small{
  color: red;
  font-size: 0.7em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  padding: 0 1em;
}
.register-form input{
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 1em;
  font-size: 0.8em;
}
.register-form label{
  font-size: 0.9em;
  font-weight: 600;
}
.register-form button{
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 1em;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  font-size: 0.9em;
  width: 100%;
  cursor: pointer;
  margin: 1em auto 1em;
}

@media (min-width:768px) {
  .register{
    max-width: 30em;
    padding: 2em;
  }
  .register-form{
    padding: 0 3em;
  }
  small {
    padding-left: 2em;
  }
}
